p {
    color: blue;
    font-size: 16px;
    font-style: italic;
}

/* Seletor .(class) */
.p2 {
    color: chocolate;
    font-size: xx-large;
    background-color: whitesmoke;
}

#p3 {
    color: yellow;
    background-color: blue;
}